<%= form_with model: message, id: dom_id(message) do |form| %>
  <%= form.hidden_field :chat_id %>

  <div>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
